
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    display: flex;
    
    grid-column: 2/12;
    grid-row: 1/3;
    align-items: center;
   
  
}

ul{
  display: flex;
  gap: 20px;
  align-items: center;
  
}

li{
    text-decoration: none;
    list-style: none;
    color: #fff;
}