@import "./varriables.css";
@import "./header.css";
@import "./home.css";
@import "./footer.css";
@import "./about.css";
@import "./foodCat.css";
@import "./WhyChoose.css";
@import "./restrauInfoSect.css";
@import "./fromMenu.css";
@import "./ourChef.css";
@import "./testimonial.css";
@import "./restrauActive.css";
@import "./blog.css";
@import "./MenuPage.css";
@import "./pageHeader.css";
@import "./blogPage.css";
@import "./shop.css";
@import "./aboutPage.css";
@import "./Contact.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--black-bg-clr);
  background-image: url("../images/mainbg.png");
  background-size: cover;
  background-position-x: 100px;
  background-repeat: no-repeat;
  overflow: auto;

  overflow-x: hidden;
  background-position: top;
}

.content {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.804);
  height: 120%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 88px);
  grid-template-rows: repeat(80, 70px);
  gap: 0px 24px;
  z-index: 1;
}
