*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.restrauActiveSect{
    grid-column: 1 /14;
    grid-row: 62/66;
    background-image: url('../images/restrauActive.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.restrauActiveSect h2{
    font-weight: 300;
    color: var(--primary-clr);
    font-family: 'Great Vibes', cursive;
    margin-right: 260px;
    text-align: right;

}

.restrauActiveSect h1{
    color: var(--white-clr);
    font-family: Helvetica, sans-serif;
    width: 450px;
    font-size: 26px;
    text-align: right;
    margin-right: 260px;
    

}

.restrauActiveSect span{
    color: var(--primary-clr);
    font-family: Helvetica, sans-serif;
    width: 450px;
    font-size: 26px;
}

.restrauActiveSect p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: right;
    margin-right: 260px;
    color: var(--white-clr);
    margin-top: 10px;
}

.btnSect {
    width: 500px;
    height: 70px;
    border: 1px var(--primary-clr) solid;
    margin-right: 260px;
    display: flex;
    align-items: center;
    gap:20px;
    

}

.btn1 {
    padding: 11px 28px;
    background-color: transparent;
    border: 1px var(--primary-clr) solid;
    border-radius: 20px;
    color: var(--white-clr);
    outline: none;
    transition: .3s;
   

}

.btn1:hover{
    padding: 11px 28px;
    background-color: var(--primary-clr);
    border: 1px var(--primary-clr) solid;
    border-radius: 20px;
    color: var(--white-clr);
    outline: none;

}

.btn2{
    padding:18px;
    background-color: transparent;
    border: 1px var(--primary-clr) solid;
    border-radius: 50%;
   
    outline: none;
    transition: .3s;


}

.PlayVid {
    font-size: 10px;
    
}
